/*
  O estilo foi a parte mais seca de se fazer, e o pouco que está feito foi com a ajuda do Ricardo Arede, por favor nao me faça perguntas sobre isto
*/

/* Estilo para a classe MainBar.js */
#DivLoader{
  display:flex;
  width:100vw;
  height:100vh;
  align-items:center;
  justify-content:center
}

/* Estilo para a classe MainBar.js */
#DivMainBar{
  background-color:#ddd ;
  height:70px;
  top:0;
  width:100%;
  border:2px solid #B0B0B0;
  position:fixed;
  display:flex;
  flex-direction:row;
  justify-content: space-between;
  align-items:center;
  padding-left:10px
}

#commentDiv{
  position:inherit;
  display:flex;
  flex-direction:row;
  /*align-items:center;*/
}

#Login{
  display: flex;
  align-items: center
}

#LoginButton{
  position:inherit;
  height:25px;
  width:50px
}

#searchString{
  position:inherit;
  height:20px;
}

/* Estilo para ra classe PostDetails.js */
#PostDetail{
  background-color:#99FF95;
  display:flex;
  flex-direction:row;
  margin-top:90px
}

/* Estilo para PostsItem.js */
.PostsDiv{
  background-color:#99FF95 ;
  height:350px;
  width:200px;
  border:2px solid #99FF95;
  margin:10px;
  padding:0px
}

.DivImg{
  background-color:#ddd;
  display:flex;
  justify-content:center;
  align-items:center;
  height:200px;
  width:200px
}

.PostsImg{
  max-width:100%;
  max-height:100%
}